button#alert-cancel {
    display:none;
}

/* NewmcAlertConfirmTimer for auto hiding modals */
#NewmcAlertConfirmTimer .modal-content{
    font-size: 80%;
    position: absolute;
    bottom:0px;
    border: none;
    border-radius: .5rem;
}
#NewmcAlertConfirmTimer .modal-header, #NewmcAlertConfirmTimer .modal-footer{
    display:none;
}
